{% if block.settings.label != blank %}
  <div
    class="
      product__block
      {%- render 'product-block-classes', block: block -%}
    "
    {{ block.shopify_attributes }}
  >
    <component-accordion
      class="accordion"
      data-exclusive="true"
    >
      <button
        type="button"
        class=" accordion__trigger"
        id="title-product-accordion-{{ index }}-{{ section.id }}"
        aria-expanded="{% if block.settings.initial_state == 'open' %}true{% else %}false{% endif %}"
        aria-controls="content-product-accordion-{{ index }}-{{ section.id }}"
        data-accordion-trigger
      >
        <span class="accordion__title {% render 'text-control-classes', settings: block.settings, prefix: 'label' %}">
          {% if block.settings.icon != 'none' %}
            {% render 'theme-icon', icon: block.settings.icon, size: '1em' %}
          {% endif %}
          {{ block.settings.label }}
        </span>

        {% render 'theme-icon', icon: 'chevron-down', size: '1.2em', class: 'accordion__icon' %}
      </button>

      <div
        id="content-product-accordion-{{ index }}-{{ section.id }}"
        role="region"
        aria-labelledby="title-product-accordion-{{ index }}-{{ section.id }}"
        class="accordion__panel"
      >
        <div class="accordion__panel-content {% render 'text-control-classes', settings: block.settings %}">
          {{ block.settings.content }}
        </div>
      </div>
    </component-accordion>
  </div>
{% endif %}
