<!doctype html>
<html
  class="price--sale-price-{{ settings.sale_price_color }}"
  lang="{{ request.locale.iso_code }}"
>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    <script type="importmap">
      {
        "imports": {
          "vendor": "{{ 'vendor.min.js' | asset_url }}",
          "theme": "{{ 'theme.js' | asset_url }}"
        }
      }
    </script>

    <script type="module" src="{{ 'vendor.min.js' | asset_url }}"></script>
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>

    {{ content_for_header }}

    {% render 'theme-settings' %}
    {% render 'theme-typography' %}
    {% render 'theme-fluid' %}
    {% render 'theme-colors' %}

    {% style %}
      .pswp.pswp--custom-styling {
        --theme-pswp-bg: {{ settings.color_schemes[settings.lightbox_color_scheme.id].settings.background.red }}, {{ settings.color_schemes[settings.lightbox_color_scheme.id].settings.background.green }}, {{ settings.color_schemes[settings.lightbox_color_scheme.id].settings.background.blue }};
        --theme-pswp-icon-color: {{ settings.color_schemes[settings.lightbox_color_scheme.id].settings.text.red }}, {{ settings.color_schemes[settings.lightbox_color_scheme.id].settings.text.green }}, {{ settings.color_schemes[settings.lightbox_color_scheme.id].settings.text.blue }};
        --themepswp-icon-color-secondary: {{ settings.color_schemes[settings.lightbox_color_scheme.id].settings.text.red }}, {{ settings.color_schemes[settings.lightbox_color_scheme.id].settings.text.green }}, {{ settings.color_schemes[settings.lightbox_color_scheme.id].settings.text.blue }};;
      }
    {% endstyle %}

    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'vendor.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="password">
    <a class="skip-to-content-link visually-hidden" href="#main">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main class="main" role="main" id="main">
      {{ content_for_layout }}
    </main>

    {% render 'modal' %}
    {% render 'modal-full-content' %}

    {% render 'theme-strings' %}
  </body>
</html>
