{%- liquid
  assign sizes = section.settings.logo_max_width | append: 'px'
-%}

<div
  class="
    logos-grid
    color-{{ section.settings.color_scheme }}
    grid
    logos-grid--mobile-columns-{{ section.settings.mobile_columns }}
    {% render 'section-classes', settings: section.settings -%}
  "
  data-section-id="{{ section.id }}"
  style="
    --logo-max-width: {{ section.settings.logo_max_width }}px;
    --desktop-columns: {{ section.settings.desktop_columns }};
    --mobile-columns: {{ section.settings.mobile_columns }};
  "
  {% if section.settings.enable_animations %}
    data-animate-elements-on-scroll
    data-animate-delay="100"
  {% endif %}
>
  <div class="grid__content">
    {% render 'prelude',
      wrapper_classes: 'grid__item--span-12',
      settings: section.settings,
      animate: section.settings.enable_animations
    %}

    <div
      class="
        logos-grid__logos-container
        grid__item--span-12
        custom-width
        custom-width--width-{{ section.settings.content_width }}
        custom-width--alignment-{{ section.settings.custom_content_alignment }}
      "
      style="--content-max-width: {{ section.settings.custom_content_width }}px;"
    >
      <div class="logos-grid__logos custom-width__content">
        {%- capture wrapper_class -%}
            logos-grid__logo
          {% if section.settings.enable_animations %}
              animate animate--slide-in
          {% endif %}
          {%- endcapture -%}
        {% for block in section.blocks %}
          {%- liquid
            assign url = block.settings.logo_link
            assign first_char = url | slice: 0, 1
            assign is_relative = false

            if first_char == '/'
              assign is_relative = true
            endif

            assign is_internal = false

            if url contains request.host or is_relative
              assign is_internal = true
            endif

            if is_internal
              assign aria_label = 'accessibility.go_to_page' | t
            else
              assign aria_label = 'accessibility.go_to_extenal' | t
            endif

            capture tag
              if block.settings.logo_link != blank
                echo 'a'
              else
                echo 'div'
              endif
            endcapture

            capture attributes
              if block.settings.logo_link != blank
                echo 'href="' | append: block.settings.logo_link | append: '"'
                echo 'aria-label="' | append: aria_label | append: '"'
              endif
            endcapture
          -%}
          <{{ tag }}
            {{ attributes }}
            class="{{ wrapper_class }}"
          >
            {% render 'image',
              image: block.settings.logo,
              sizes: sizes,
              include_placeholder: true,
              placeholder_aspect: '3-2'
            %}
          </{{ tag }}>

        {% else %}
          {% for i in (i..5) %}
            <div class="{{ wrapper_class }}">
              {% render 'image', image: block.settings.image, include_placeholder: true, placeholder_aspect: '3-2' %}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.logos-grid.name",
  "class": "logos-grid-section",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.floating"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:common.header__content_container.content"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:common.content_width.label",
      "options": [
        {
          "value": "full",
          "label": "t:common.content_width.option__full"
        },
        {
          "value": "custom",
          "label": "t:common.content_width.option__custom"
        }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "custom_content_width",
      "label": "t:common.custom_width.label",
      "min": 500,
      "max": 1000,
      "step": 20,
      "unit": "px",
      "default": 700,
      "visible_if": "{{ section.settings.content_width == \"custom\" }}"
    },
    {
      "type": "text_alignment",
      "id": "custom_content_alignment",
      "label": "t:common.custom_alignment.label",
      "default": "center",
      "visible_if": "{{ section.settings.content_width == \"custom\" }}"
    },
    {
      "type": "header",
      "content": "t:common.prelude.content"
    },
    {
      "type": "text_alignment",
      "id": "prelude_alignment",
      "label": "t:common.alignment.label",
      "default": "center"
    },
    {
      "type": "text",
      "id": "prelude_heading",
      "label": "t:common.heading.label"
    },
    {
      "type": "select",
      "id": "prelude_heading_text_font",
      "label": "t:common.heading_font.label",
      "options": [
        {
          "value": "ff-h",
          "label": "t:common.text_font.option__heading"
        },
        {
          "value": "ff-b",
          "label": "t:common.text_font.option__body"
        }
      ],
      "default": "ff-h",
      "visible_if": "{{ section.settings.prelude_heading != blank }}"
    },
    {
      "type": "select",
      "id": "prelude_heading_text_size",
      "label": "t:common.heading_size.label",
      "options": [
        {
          "value": "3",
          "label": "t:common.text_size.option_h4"
        },
        {
          "value": "4",
          "label": "t:common.text_size.option_h3"
        },
        {
          "value": "5",
          "label": "t:common.text_size.option_h2"
        },
        {
          "value": "6",
          "label": "t:common.text_size.option_h1"
        }
      ],
      "default": "4",
      "visible_if": "{{ section.settings.prelude_heading != blank }}"
    },
    {
      "type": "checkbox",
      "id": "prelude_heading_text_uppercase",
      "label": "t:common.heading_uppercase.label",
      "default": false,
      "visible_if": "{{ section.settings.prelude_heading != blank }}"
    },
    {
      "type": "richtext",
      "id": "prelude_text",
      "label": "t:common.text.label",
      "default": "<p>As seen on</p>"
    },
    {
      "type": "select",
      "id": "prelude_text_size",
      "label": "t:common.text_size.label",
      "options": [
        {
          "value": "1",
          "label": "t:common.text_size.option_body_small"
        },
        {
          "value": "2",
          "label": "t:common.text_size.option_body"
        },
        {
          "value": "3",
          "label": "t:common.text_size.option_h4"
        }
      ],
      "default": "2",
      "visible_if": "{{ section.settings.prelude_text != blank }}"
    },
    {
      "type": "header",
      "content": "t:common.header__logos.content"
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "label": "t:common.mobile_columns.label",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "t:common.number_select.option__1"
        },
        {
          "value": "2",
          "label": "t:common.number_select.option__2"
        },
        {
          "value": "3",
          "label": "t:common.number_select.option__3"
        }
      ]
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "t:sections.logos-grid.settings.logo_max_width.label",
      "min": 100,
      "max": 250,
      "step": 10,
      "unit": "px",
      "default": 150
    },
    {
      "type": "header",
      "content": "t:common.header__section_spacing_and_border.content"
    },
    {
      "type": "select",
      "id": "section_spacing_top",
      "label": "t:common.top_spacing.label",
      "options": [
        {
          "value": "none",
          "label": "t:common.sizing.none"
        },
        {
          "value": "compact",
          "label": "t:common.sizing.compact"
        },
        {
          "value": "standard",
          "label": "t:common.sizing.standard"
        },
        {
          "value": "large",
          "label": "t:common.sizing.large"
        },
        {
          "value": "x-large",
          "label": "t:common.sizing.x_large"
        },
        {
          "value": "2x-large",
          "label": "t:common.sizing.x_x_large"
        }
      ],
      "default": "large"
    },
    {
      "type": "select",
      "id": "section_spacing_bottom",
      "label": "t:common.bottom_spacing.label",
      "options": [
        {
          "value": "none",
          "label": "t:common.sizing.none"
        },
        {
          "value": "compact",
          "label": "t:common.sizing.compact"
        },
        {
          "value": "standard",
          "label": "t:common.sizing.standard"
        },
        {
          "value": "large",
          "label": "t:common.sizing.large"
        },
        {
          "value": "x-large",
          "label": "t:common.sizing.x_large"
        },
        {
          "value": "2x-large",
          "label": "t:common.sizing.x_x_large"
        }
      ],
      "default": "large"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "t:common.show_bottom_border.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:common.header__section_animations.content"
    },
    {
      "type": "checkbox",
      "id": "enable_animations",
      "label": "t:common.enable_animations.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "t:common.logo.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:common.logo.label"
        },
        {
          "type": "url",
          "id": "logo_link",
          "label": "t:common.logo_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.logos-grid.presets.name",
      "category": "t:categories.storytelling"
    }
  ]
}
{% endschema %}
