{%- liquid
  assign articles_per_page = 6
  assign filter_tag = section.settings.filter_tag | strip | downcase | handleize
  assign card_mode = section.settings.card_mode
  assign featured_article_id = section.settings.featured_article.id

  # Get heading text - use blog title if not set
  assign heading_text = section.settings.heading_text
  if heading_text == blank
    assign heading_text = blog.title
  endif
-%}

{%- paginate blog.articles by articles_per_page -%}
  <section-main-blog
    class="main-blog"
    data-section-id="{{ section.id }}"
    data-current-page="{{ paginate.current_page }}"
    data-total-pages="{{ paginate.pages }}"
    data-filter-tag="{{ filter_tag }}"
    {% if section.settings.enable_animations %}
      data-animate-elements-on-scroll
      data-animate-delay="125"
    {% endif %}
  >
    <div class="main-blog__inner">
      {%- comment -%} Header {%- endcomment -%}
      {% if section.settings.show_header %}
        <header class="main-blog__header{% if section.settings.enable_animations %} animate animate--slide-in{% endif %}">
          {% if section.settings.eyebrow_text != blank %}
            <span class="main-blog__eyebrow">{{ section.settings.eyebrow_text }}</span>
          {% endif %}
          <h1 class="main-blog__title">{{ heading_text }}</h1>
        </header>
      {% endif %}

      {%- comment -%} Articles Grid {%- endcomment -%}
      <div class="main-blog__grid" data-articles-container>
        {%- assign article_index = 0 -%}
        {%- for article in blog.articles -%}
          {%- liquid
            # Skip articles that don't match the filter tag (if set)
            if filter_tag != blank
              assign article_has_tag = false
              for tag in article.tags
                assign tag_handle = tag | downcase | handleize
                if tag_handle == filter_tag
                  assign article_has_tag = true
                  break
                endif
              endfor
              unless article_has_tag
                continue
              endunless
            endif

            # Check if this is the featured article
            assign is_featured = false
            if featured_article_id != blank and article.id == featured_article_id
              assign is_featured = true
            endif

            assign article_index = article_index | plus: 1
          -%}

          {% render 'blog-card',
            article: article,
            mode: card_mode,
            tall: is_featured,
            label: section.settings.card_label,
            button_text: section.settings.button_text,
            animate: section.settings.enable_animations
          %}
        {%- endfor -%}
      </div>

      {%- comment -%} Load More Button {%- endcomment -%}
      {%- if paginate.pages > 1 -%}
        <div class="main-blog__load-more{% if paginate.current_page >= paginate.pages %} main-blog__load-more--hidden{% endif %}">
          <button
            type="button"
            class="main-blog__load-more-button"
            data-load-more
            {% if paginate.current_page >= paginate.pages %}disabled{% endif %}
          >
            <span class="main-blog__load-more-text">{{ 'sections.blog.load_more' | t }}</span>
            <span class="main-blog__load-more-loading">{{ 'sections.blog.loading' | t }}</span>
            {% render 'theme-icon', icon: 'arrow-down', size: '30px' %}
          </button>
        </div>
      {%- endif -%}
    </div>
  </section-main-blog>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.blog.name",
  "class": "main-blog-section",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.blog.settings.header__header.content"
    },
    {
      "type": "checkbox",
      "id": "show_header",
      "label": "t:sections.blog.settings.show_header.label",
      "default": true
    },
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "t:sections.blog.settings.eyebrow_text.label",
      "default": "Learn"
    },
    {
      "type": "text",
      "id": "heading_text",
      "label": "t:sections.blog.settings.heading_text.label",
      "info": "t:sections.blog.settings.heading_text.info"
    },
    {
      "type": "header",
      "content": "t:sections.blog.settings.header__content.content"
    },
    {
      "type": "text",
      "id": "filter_tag",
      "label": "t:sections.blog.settings.filter_tag.label",
      "info": "t:sections.blog.settings.filter_tag.info"
    },
    {
      "type": "select",
      "id": "card_mode",
      "label": "t:sections.blog.settings.card_mode.label",
      "options": [
        {
          "value": "field_notes",
          "label": "t:sections.blog.settings.card_mode.option__field_notes"
        },
        {
          "value": "marketplace_picks",
          "label": "t:sections.blog.settings.card_mode.option__marketplace_picks"
        }
      ],
      "default": "field_notes"
    },
    {
      "type": "text",
      "id": "card_label",
      "label": "t:sections.blog.settings.card_label.label",
      "info": "t:sections.blog.settings.card_label.info"
    },
    {
      "type": "article",
      "id": "featured_article",
      "label": "t:sections.blog.settings.featured_article.label",
      "info": "t:sections.blog.settings.featured_article.info"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.blog.settings.button_text.label",
      "info": "t:sections.blog.settings.button_text.info"
    },
    {
      "type": "header",
      "content": "t:common.header__section_spacing_and_border.content"
    },
    {
      "type": "select",
      "id": "section_spacing_top",
      "label": "t:common.top_spacing.label",
      "options": [
        {
          "value": "none",
          "label": "t:common.sizing.none"
        },
        {
          "value": "compact",
          "label": "t:common.sizing.compact"
        },
        {
          "value": "standard",
          "label": "t:common.sizing.standard"
        },
        {
          "value": "large",
          "label": "t:common.sizing.large"
        },
        {
          "value": "x-large",
          "label": "t:common.sizing.x_large"
        },
        {
          "value": "2x-large",
          "label": "t:common.sizing.x_x_large"
        }
      ],
      "default": "standard"
    },
    {
      "type": "select",
      "id": "section_spacing_bottom",
      "label": "t:common.bottom_spacing.label",
      "options": [
        {
          "value": "none",
          "label": "t:common.sizing.none"
        },
        {
          "value": "compact",
          "label": "t:common.sizing.compact"
        },
        {
          "value": "standard",
          "label": "t:common.sizing.standard"
        },
        {
          "value": "large",
          "label": "t:common.sizing.large"
        },
        {
          "value": "x-large",
          "label": "t:common.sizing.x_large"
        },
        {
          "value": "2x-large",
          "label": "t:common.sizing.x_x_large"
        }
      ],
      "default": "large"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "t:common.show_bottom_border.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:common.header__section_animations.content"
    },
    {
      "type": "checkbox",
      "id": "enable_animations",
      "label": "t:common.enable_animations.label",
      "default": true
    }
  ]
}
{% endschema %}
