{%- liquid
  if section.settings.enable_shop_login_button == false
    assign hide_shop_login_button = true
  endif

  assign feature_image = settings.account_image
  assign aspect_ratio = settings.account_image_aspect_ratio

  if section.settings.featured_image != blank
    assign feature_image = section.settings.featured_image
    assign aspect_ratio = section.settings.featured_image_aspect_ratio
  endif

  assign has_image = false
  if feature_image != blank
    assign has_image = true
  endif
-%}

<component-customer-login
  class="
    customer-login
    grid
    color-{{ section.settings.color_scheme }}
    {% render 'section-classes', settings: section.settings -%}
  "
>
  <div class="grid__content grid__content--plus-row-gap ">
    {% if has_image %}
      <div class="grid__item--span-12 grid__item--span-6-tablet">
    {% else %}
      <div class="grid__item--span-12 content-container">
        <div class="content-narrower">
    {% endif %}

    <div
      class="customer-login__form-wrapper customer-login__form-wrapper--reset hidden"
      data-reset-form
    >
      <h1 class="fs-3 ta-center">
        {{ 'customer.recover_password.title' | t }}
      </h1>
      <p class="ta-center mt-2xs">
        {{ 'customer.recover_password.subtext' | t }}
      </p>

      {%- form 'recover_customer_password' -%}
        {% assign recover_success = form.posted_successfully? %}

        <div class="field">
          <label for="recovery-email" class="fs--1">
            {{ 'customer.login_page.email' | t }}
          </label>
          <input
            type="email"
            value=""
            name="email"
            id="recovery-email"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="RecoverEmail-email-error"
              autofocus
            {% endif %}
            placeholder="{{ 'customer.login_page.email' | t }}"
          >
        </div>

        {%- if form.errors -%}
          <div id="RecoverEmail-email-error" class="form__field-message fs--1">
            {% render 'theme-icon', icon: 'alert-circle', size: '1em' %}
            <span>
              {{ form.errors.messages.form }}
            </span>
          </div>
        {%- endif -%}

        <div class="customer-login__submit-button-wrapper">
          <button class="customer-login__submit-button btn btn--primary">
            {{ 'customer.login_page.submit' | t }}
          </button>

          <a href="#login" class="customer-login__submit-button btn btn--secondary" data-toggle-forms>
            {{ 'customer.login_page.cancel' | t }}
          </a>
        </div>
      {%- endform -%}
    </div>

    <div
      class="customer-login__form-wrapper customer-login__form-wrapper--login"
      data-login-form
    >
      <h1 class="fs-3 ta-center">
        {{ 'customer.login_page.title' | t }}
      </h1>
      {%- if recover_success == true -%}
        <div class="form__message" role="status">
          <h3 class="form__message-heading fs-0 ff-b" tabindex="-1" autofocus>
            {% render 'theme-icon', icon: 'check-circle', size: '1em' %}
            {{ 'customer.recover_password.success' | t }}
          </h3>
        </div>
      {%- endif -%}

      {%- form 'customer_login', novalidate: 'novalidate' -%}
        {%- if form.errors -%}
          <div class="form__message form__message--error fs--1 mt-xs" role="alert">
            <h3 class="form__message-heading fs-0 ff-b" tabindex="-1" autofocus>
              {% render 'theme-icon', icon: 'alert-circle', size: '1em' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </h3>
            <ul class="form__message__error-list">
              <li>
                <a href="#customer-login-email">
                  {{ form.errors | default_errors }}
                </a>
              </li>
            </ul>
          </div>
        {%- endif -%}

        {%- if shop.features.login_with_shop_classic_customer_accounts? -%}
          <section
            name="sign-in-with-shop-provider"
            class="customer-login__shop-sign-in{% unless section.settings.enable_shop_sign_in %} customer-login__shop-sign-in--hidden{% endunless %}"
          >
            {{ shop | login_button: hide_button: hide_shop_login_button }}

            <p class="customer-login__shop-sign-in-or">
              {{ 'customer.login_page.alternate_provider_separator' | t }}
            </p>
          </section>
        {%- endif -%}

        <div class="field">
          <label for="customer-login-email" class="fs--1">
            {{ 'customer.login_page.email' | t }}
          </label>
          <input
            autocomplete="email"
            type="email"
            id="customer-login-email"
            name="customer[email]"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            required
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="{{ 'customer.login_page.email' | t }}"
          >
        </div>

        {%- if form.password_needed -%}
          <div class="field">
            <label for="customer-login-password" class="fs--1">
              {{ 'customer.login_page.password' | t }}
            </label>
            <input
              type="password"
              value=""
              name="customer[password]"
              id="customer-login-password"
              autocomplete="current-password"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              placeholder="{{ 'customer.login_page.password' | t }}"
            >
          </div>
        {%- endif -%}

        <button class="customer-login__submit-button btn btn--primary">
          {{ 'customer.login_page.sign_in' | t }}
        </button>

        <div class="customer-login__form-footer">
          <div class="fancy-link">
            <a href="#recover" class="fs--1" data-toggle-forms>
              {{ 'customer.login_page.forgot_password' | t }}
            </a>
          </div>

          <div class="fancy-link">
            <a href="{{ routes.account_register_url }}" class="fs--1">
              {{ 'customer.login_page.create_account' | t }}
            </a>
          </div>
        </div>
      {%- endform -%}
    </div>

    {% if has_image %}
      {% capture image_sizes %}
        {% render 'image-sizes', desktop_x_wide_width: 0.4453571429, desktop_wide_width: 0.4542307692, desktop_width: 0.4620636364, tablet_width: 0.4640666667, width: 0.9629960578 %}
      {% endcapture %}
      </div>
      <div class="grid__item--span-12 grid__item--span-6-tablet customer-login__featured-image">
        {% render 'image', image: feature_image, sizes: image_sizes, aspect_ratio: aspect_ratio %}
      </div>
    {% else %}
      </div>
      </div>
    {% endif %}
  </div>

  {%- if shop.checkout.guest_login -%}
    <div>
      <hr>
      <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

      {%- form 'guest_login' -%}
        <button>
          {{ 'customer.login_page.guest_continue' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
</component-customer-login>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "enable_shop_sign_in",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "header",
      "content": "t:common.header__account_feature_image.content"
    },
    {
      "type": "paragraph",
      "content": "t:common.paragraph__account_feature_image.content"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "t:common.image.label"
    },
    {
      "type": "select",
      "id": "featured_image_aspect_ratio",
      "label": "t:common.aspect_ratio.label",
      "options": [
        {
          "value": "default",
          "label": "t:common.aspect_ratio.option__default"
        },
        {
          "value": "3-2",
          "label": "t:common.aspect_ratio.option__3_2"
        },
        {
          "value": "5-4",
          "label": "t:common.aspect_ratio.option__5_4"
        },
        {
          "value": "11-10",
          "label": "t:common.aspect_ratio.option__11_10"
        },
        {
          "value": "1-1",
          "label": "t:common.aspect_ratio.option__1_1"
        },
        {
          "value": "10-11",
          "label": "t:common.aspect_ratio.option__10_11"
        },
        {
          "value": "4-5",
          "label": "t:common.aspect_ratio.option__4_5"
        },
        {
          "value": "2-3",
          "label": "t:common.aspect_ratio.option__2_3"
        },
        {
          "value": "1-2",
          "label": "t:common.aspect_ratio.option__1_2"
        }
      ],
      "default": "10-11"
    },
    {
      "type": "header",
      "content": "t:common.header__section_spacing_and_border.content"
    },
    {
      "type": "select",
      "id": "section_spacing_top",
      "label": "t:common.top_spacing.label",
      "options": [
        {
          "value": "compact",
          "label": "t:common.sizing.compact"
        },
        {
          "value": "standard",
          "label": "t:common.sizing.standard"
        },
        {
          "value": "large",
          "label": "t:common.sizing.large"
        },
        {
          "value": "x-large",
          "label": "t:common.sizing.x_large"
        },
        {
          "value": "2x-large",
          "label": "t:common.sizing.x_x_large"
        }
      ],
      "default": "2x-large"
    },
    {
      "type": "select",
      "id": "section_spacing_bottom",
      "label": "t:common.bottom_spacing.label",
      "options": [
        {
          "value": "compact",
          "label": "t:common.sizing.compact"
        },
        {
          "value": "standard",
          "label": "t:common.sizing.standard"
        },
        {
          "value": "large",
          "label": "t:common.sizing.large"
        },
        {
          "value": "x-large",
          "label": "t:common.sizing.x_large"
        },
        {
          "value": "2x-large",
          "label": "t:common.sizing.x_x_large"
        }
      ],
      "default": "2x-large"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "t:common.show_bottom_border.label",
      "default": false
    }
  ]
}
{% endschema %}
