{%- liquid
  assign logo_alignment = section.settings.logo_alignment
-%}

{% capture logo %}
  <h1 class="header__heading fs-1">
    <div class="fs-1 ff-h">
      {%- if settings.logo != blank -%}
        <div class="header__heading-logo-wrapper" style="
            --max-width: {{ settings.logo_width }}px;
            --max-width-mobile: {{ settings.logo_width_mobile }}px;
          "
        >
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
          {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
          {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
          {{
            settings.logo
            | image_url: width: 600
            | image_tag:
              class: 'header__heading-logo',
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
          }}

          {% if settings.transparent_logo != blank and section.settings.enable_transparent %}
            {%- assign transparent_logo_alt = settings.transparent_logo.alt | default: shop.name | escape -%}
            {%- assign transparent_logo_height = settings.logo_width | divided_by: settings.transparent_logo.aspect_ratio -%}
            {% capture transparent_sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
            {% capture transparent_widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{
              settings.transparent_logo
              | image_url: width: 600
              | image_tag:
                class: 'header__heading-logo header__heading-logo--transparent',
                widths: transparent_widths,
                height: transparent_logo_height,
                width: settings.logo_width,
                alt: transparent_logo_alt,
                sizes: transparent_sizes,
                preload: true
            }}
          {% endif %}
        </div>
      {%- else -%}
        <span>{{ shop.name }}</span>
      {%- endif -%}
    </div>
  </h1>
{% endcapture %}

<section-password-header
  class="
    password-header
    password-header--logo-align-{{ logo_alignment}}
    {% if section.settings.show_border %}
      password-header--show-border
    {% endif %}
    password-header--border-color-{{ section.settings.border_color }}
    color-{{ settings.header_color_scheme }}
    {% if section.settings.enable_transparent %}
      password-header--header-transparent
      color-{{ settings.header_transparent_color_scheme }}
      {% if settings.transparent_logo != blank %}
        password-header--has-transparent-logo
      {% endif %}
    {% endif %}
  "
  style="
    --border-weight: {{ section.settings.border_weight }}px;
    --border-opacity: {{ section.settings.border_opacity | divided_by: 100.0 }};
  "
>
  <div class="password-header__inner">
    <div class="password-header__content">
      <div class="password-header__content-left">
        {% if logo_alignment == 'left' %}
          {{ logo }}
        {% endif %}
      </div>

      <div class="password-header__content-center">
        {% if logo_alignment == 'center' %}
          {{ logo }}
        {% endif %}
      </div>

      <div class="password-header__content-right">
        <button type="button" class="password-header__password-button" data-password-modal-trigger>
          {% render 'theme-icon', icon: 'unlock', size: '1em' %}
          <span class="password-header__password-button-text">
            {{ 'general.password_page.login_password_button' | t }}
          </span>
        </button>

        <template data-password-template data-modal-header="{{ 'general.password_page.login_form_heading' | t }}">
          {%- form 'storefront_password' -%}
            <div class="field">
              <label class="fs--1" for="{{ 'general.password_page.login_form_password_label' | t }}">
                {{- 'general.password_page.login_form_password_placeholder' | t -}}
              </label>
              <input
                type="password"
                name="password"
                id="Password"
                autocomplete="current-password"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="PasswordLoginForm-password-error"
                {%- endif -%}
                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
              >

              {%- if form.errors -%}
                <div id="PasswordLoginForm-password-error" class="form__field-message fs--1">
                  {% render 'theme-icon', icon: 'alert-circle', size: '1em' %}
                  <span>
                    {{ 'general.password_page.login_form_error' | t -}}
                  </span>
                </div>
              {%- endif -%}
            </div>
            <button name="commit" class="password-header__submit btn btn--primary">
              {{ 'general.password_page.login_form_submit' | t }}
            </button>
          {%- endform -%}
        </template>
      </div>
    </div>
  </div>
</section-password-header>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph__logo.content"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent",
      "label": "t:sections.header.settings.enable_transparent.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "label": "t:sections.header.settings.show_border.label",
      "default": true
    },
    {
      "type": "select",
      "id": "border_color",
      "label": "t:common.border_color.label",
      "options": [
        {
          "value": "text",
          "label": "t:common.border_color.option__text"
        },
        {
          "value": "accent",
          "label": "t:common.border_color.option__accent"
        }
      ],
      "default": "text",
      "visible_if": "{{ section.settings.show_border }}"
    },
    {
      "type": "select",
      "id": "border_weight",
      "label": "t:common.border_width.label",
      "options": [
        {
          "value": "1",
          "label": "t:common.border_width.option__light"
        },
        {
          "value": "2",
          "label": "t:common.border_width.option__medium"
        },
        {
          "value": "3",
          "label": "t:common.border_width.option__heavy"
        }
      ],
      "default": "1",
      "visible_if": "{{ section.settings.show_border }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "label": "t:common.border_opacity.label",
      "min": 5,
      "max": 100,
      "step": 1,
      "default": 15,
      "visible_if": "{{ section.settings.show_border }}"
    },
    {
      "type": "header",
      "content": "t:sections.main-password-header.settings.header__layout.content"
    },
    {
      "type": "select",
      "id": "logo_alignment",
      "label": "t:sections.header.settings.logo_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:common.alignment.option__left"
        },
        {
          "value": "center",
          "label": "t:common.alignment.option__center"
        }
      ],
      "default": "left"
    }
  ]
}
{% endschema %}
